html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.rct-item {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    text-align: center
}

.rct-item-content {
    overflow: visible !important;
    text-align: center
}
